<!-- page2.html -->
{% extends 'blog/post_list.html' %}

{% block title %}Список постов (Страница 5){% endblock %}

{% block content %}
            <form method="GET">
            <label for="items_per_page">Элементов на странице:</label>
            <select id="items_per_page" name="items_per_page" onchange="this.form.submit()">
                <option value="5" {% if items_per_page == 5 %}selected{% endif %}>5</option>
                <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10</option>
                <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
                <!-- Add more options as needed -->
            </select>
        </form>
    <!-- Your content here -->
    <h1>Список постов (Страница 5)</h1>
    <!-- Repeat the post list with your posts -->
           <ul>
            {% for post in page_posts %}
                <li>
                    {{ post.title }} ({{ post.created_at }})
                    <p>{{ post.content }}</p>
                </li>
            {% empty %}
                <p>Нет постов.</p>
            {% endfor %}
        </ul>

    <!-- Update the pagination links -->
    <div class="pagination">
        <p>Страницы:</p>
        <ul>
                <li><a href="post_list.html">1</a></li>
                <li><a href="page2.html">2</a></li>
                <li><a href="page3.html">3</a></li>
                <li><a href="page4.html">4</a></li>
                <li><a href="page5.html">5</a></li>
        </ul>
    </div>
{% include 'blog/pagination.html' with page_posts=page_posts %}
{% endblock %}

