<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title></title>

    <form method="GET">
        {{ form.items_per_page.label }}
        {{ form.items_per_page }}
    </form>
</head>
<body>
    {% block content %}
        <h1>Список постов</h1>
        <ul>
            {% for post in page_posts %}
                <li>
                    <strong>{{ post.title }}</strong> ({{ post.created_at }})
                    <p>{{ post.content }}</p>
                </li>
            {% empty %}
                <p>Нет постов.</p>
            {% endfor %}
        </ul>

        <div class="pagination">
            <p>Страницы:</p>
            <ul>
            </ul>
        </div>

        {% include 'blog/style.html' with page_posts=page_posts %}
    {% endblock %}

    <div class="pagination">

                       <!-- Предыдущая страница -->
        {% if page_posts.has_previous %}
            <ul>
                <a href="?page={{ page_posts.previous_page_number }}">Назад</a>
            </ul>
        {% endif %}

        <!-- Нумерация страниц -->
        {% for page_num in page_posts.paginator.page_range %}
            {% if page_posts.number == page_num %}
                <span class="current-page"></span>
            {% else %}
                <ul>
                    <a href="?page={{ page_num }}">{{ page_num }}</a>
                </ul>
            {% endif %}
        {% endfor %}



        <!-- Следующая страница -->
        {% if page_posts.has_next %}
            <ul>
                <a href="?page={{ page_posts.next_page_number }}">Далее</a>
            </ul>
        {% endif %}
    </div>
</body>
</html>
