{% block content %}
    <h1>Список постов</h1>
    <ul>
        {% for post in page_posts %}
            <li>
                {{ post.title }} ({{ post.created_at }})
                <p>{{ post.content }}</p>
            </li>
        {% empty %}
            <p>Нет постов.</p>
        {% endfor %}
    </ul>
    <!-- показываем пагинатор -->
    <div class="pagination">
        <p>Страницы:</p>
        <ul>
            {% if page_posts.has_previous %}
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li>{{ page_posts.number }}/{{ paginator.num_pages }}</li>
            {% if page_posts.has_next %}
                <li><a href="?page={{ page_posts.next_page_number }}">Next</a></li>
                <li><a href="?page={{ paginator.num_pages }}">>>></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
